version: "3.8"

services:
  postgres:
    image: postgres:latest
    container_name: hirer_postgres
    environment:
      POSTGRES_DB: hirer
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  server:
    container_name: server
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    restart: always
    ports:
      - 3000:3000

volumes:
  postgres_data:
